<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu">
  <ul class="side-menu-list">
    <li class="green">
      <%= link_to(root_path) do %>
          <i class="font-icon font-icon-dashboard"></i>
          <span class="lbl">Inicio</span>
      <% end %>
    </li>
    <% if logged_in? %>
        <li class="blue"> <!-- navegar cursos -->
            <span>
                <i class="glyphicon glyphicon-th"></i>
              <%= link_to(navigation_index_path, class: 'lbl', id: 'navegar-cursos') do %>
                  Navegar Cursos
              <% end %>
            </span>

        </li>

        <li class="gold"> <!-- material favorito -->
            <span>
                <i class="glyphicon glyphicon-star-empty"></i>
              <%= link_to(documents_favorites_path, class: 'lbl', id: 'material-favorito') do %>
                  Material Favorito
              <% end %>
            </span>

        </li>

        <li class="orange-red"> <!-- mis cursos -->
            <span>
                <i class="glyphicon glyphicon-folder-open"></i>
              <%= link_to(levels_path, class: 'lbl', id: 'mis-cursos') do %>
                  Mis Cursos
              <% end %>
            </span>

        </li>

        <li class="red"> <!-- mis materias -->
            <span>
                <i class="glyphicon glyphicon-apple"></i>
              <%= link_to(subjects_path, class: 'lbl', id: 'mis-materias') do %>
                  Mis Materias
              <% end %>
            </span>

        </li>

        <li class="magenta"> <!-- subir material -->
            <span>
                <i class="fa fa-upload"></i>
              <%= link_to(new_document_path, class: 'lbl', id: 'subir-material') do %>
                  Subir Material
              <% end %>
            </span>

        </li>

    <% end %>
</nav><!--.side-menu-->
