<section class="box-typical box-typical-dashboard panel panel-default lobipanel lobipanel-sortable" style="height: auto"data-inner-id="yw73vJ4eAD" data-index="0">
	<header class="box-typical-header panel-heading ui-sortable-handle">
		<h3 class="panel-title" style="padding-top: 20px; padding-left: 10px;">Hola, <%= current_teacher.first_name %>, bienvenido al Super Colisionador del Conocimiento</h3>
	</header>
	<div class="card-block">
		<p class="card-text">
			<div class="container-fluid">
				<div class="column">
					<article class="box-typical">
						<header class="box-typical-header panel-heading ui-sortable-handle">
							<h4 class="panel-title" style="padding-top: 10px; margin-bottom: 8px; padding-left: 5px;">Estadísticas</h4>
						</header>
						<div class="card-block">
							<p class="card-text">
								<p><b class="statistic-text">Documentos subidos: </b><a class="statistic-number"><%= current_teacher.documents.size%></a></p>
								<p><b class="statistic-text">Puntaje promedio: </b><a class="statistic-number"><%= current_teacher.get_rating%></a></p>
							</p>
						</div>
					</article>
					<article class="box-typical">
						<header class="box-typical-header panel-heading ui-sortable-handle">
							<h4 class="panel-title" style="padding-top: 10px; margin-bottom: 8px; padding-left: 5px;">Últimos comentarios recibidos</h4>
						</header>
						<div style="padding-bottom: 10px"></div>
						<%= render :partial => "lastcomments" %>
					</article>
					<section class="card card-blue">
				        <header class="card-header">
				            Mis Últimos Documentos
				        </header>
				        <div class="card-block">
				            <p class="card-text">
				                <div class="container-fluid">
				                    <div class="row">

				                        <% current_teacher.documents.last(6).reverse.each do |doc|  %>
				                        <div class="col-sm-2">
				                            <%= render :partial => "documents/documentcard", :locals => {:doc => doc} %>
				                        </div>
				                        <% end %>

				                    </div>
				                </div>
				            </p>
				        </div>
				    </section>
				</div>
			</div>
		</p>
	</div>
</section>
