<div class="box-typical">
  <div class="document-card">
    <div class="document-card-image"><%= link_to image_tag("pdf_icon.png"), document_path(doc)%></div>
    <div class="document-card-title"><%=doc.name%></div>
    <div class="document-card-owner"><%=doc.teacher.full_name%></div>
    <div class="document-card-owner-mail"><%=doc.teacher.email%></div>
    <div class="document-card-date"><%=doc.updated_at.strftime("%d/%m/%Y") %></div>
  </div>
  <div class="document-statistic tbl">
    <div class="tbl-row">
      <div class="tbl-cell">
        <b><%=doc.average_rating%></b><div style="font-size:11px;">Estrellas</div>
      </div>
      <div class="tbl-cell">
        <b><%=doc.ratings.count%></b>
        <% if doc.ratings.count < 2 %> <div style="font-size:11px;">Comentario</div>
        <% else %> <div style="font-size:11px;">Comentarios</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
