<div class="box-typical">
  <div class="document-card">
    <div class="document-card-image">
      <%= link_to document_path(doc) do %>
      <span class="fa <%= doc.icon %>"></span>
      <% end %>
    </div>
    <div class="document-card-title"><%=doc.name%></div>
    <% if !doc.teacher.nil? %>
    <div class="document-card-owner"><%=link_to doc.teacher.full_name, teacher_path(doc.teacher)%></div>
    <div class="document-card-owner-mail"><%=doc.teacher.email%></div>
    <% end %>
    <div class="document-card-date"><%=doc.updated_at.strftime("%d/%m/%Y") %></div>
  </div>
  <div class="document-statistic tbl">
    <div class="tbl-row">
      <div class="tbl-cell">
        <b><%=doc.average_rating%></b>
        <div style="font-size:14px; color:#e98800; display: inline-block">
          <span class="font-icon font-icon-star"></span>
        </div>
      </div>
      <div class="tbl-cell">
        <b><%=doc.ratings.count%></b>
        <div style="font-size:12px; color: #00a1f3; display: inline-block">
          <span class="font-icon font-icon-comment"></span>
        </div>
      </div>
    </div>
  </div>
</div>
