<div class="page-content">
  <%= form_for @document do |f| %>
  <div class="card">
    <header class="card-header">
      <!-- TODO: Upload image y arreglar tags-->
      <h3>Edita tu documento</h3>
    </header>
    <div class="card-block">

      <div class="row">
        <div class="col-sm-4" style="text-align: center;">

          <div class="card">
            <header class="card-header">Nombre</header>
            <div class="card-block">
              <%=f.text_field :name, class: "form-control"%>
            </div>
          </div>

          <div class="card">
            <header class="card-header">Archivo</header>
            <div class="card-block"><%= image_tag("pdf_icon.png") %> <%= @document.url %></div>
            <footer class="card-footer" style="overflow: hidden;"><%= f.file_field :url %></footer>
          </div>

        </div>

        <div class="col-sm-8">
          <div class="card">
            <header class="card-header">Descripción</header>
            <div class="card-block">
              <%= f.text_area :description, class: "form-control", rows: "12" %>
            </div>
          </div>

          <div class="card">
            <header class="card-header">Tags</header>
            <div class="card-block">
              <%= f.text_field :tags, 'data-role'=>'tagsinput', class: "form-control tags-on-edit", id: "tags"%>
            </div>
          </div>

        </div>
      </div>
      <footer class="card-footer"><%= f.submit "Guardar cambios", class: "btn btn-rounded", id: "send-button", style: "margin: 0 45%;"%></footer>
    </div>
  </div>
  <% end %>
</div>
<%= javascript_include_tag 'product/fileinput.js' %>
