<div class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <section class="box-typical">
          <%= render :partial => "documents/documentcard", :locals => {:doc => @document} %>
          <div class="tag-container">
            <div class="tag"><%=@document.levels.first.name%></div>
            <div class="tag">Manuel Montt</div>
            <div class="tag"><%=@document.subjects.first.name%></div>
            <div class="tag">Héroe Chileno</div>
          </div>
        </div>
      </section>

      <div class="col-sm-9">
        <section class="box-typical">
          <header class="box-typical-header-sm">Descripción</header>
          <p class="document-info-item">
            <%= @document.description %>
          </p>
        </section>
        <div class="row document-evaluation">

          <div class="col-sm-10">
            <section class="box-typical">
              <textarea rows="5" class="form-control" placeholder="Comenta" data-autosize="" style="overflow: hidden; word-wrap: break-word; height: 130px;"></textarea>
            </section>
          </div>

          <div class="col-sm-2">
            <section class="card">
              <header class="card-header">Evalúa</header>
              <div class="card-block">
                <span class="font-icon font-icon-star"></span>
                <select id="stars-select" class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </section>
          </div>

        </div>

        <button id="send-button" class="btn btn-rounded" type="button" name="sumbit">Enviar</button>

        <section class="box-typical">
          <header class="box-typical-header-sm">Comentarios</header>
          <article class="comment-list-item">

            <header class="comment-list-header">
              <div class="user-card-row">
                <div class="tbl-row">

                  <div class="tbl-cell tbl-cell-photo">
                    <a href="#" tabindex="0">
                      <%= image_tag @document.ratings.first.teacher.profile_picture %>
                    </a>
                  </div>

                  <div class="tbl-cell">
                    <p class="user-card-row-name"><a href="#" tabindex="0"><%=@document.ratings.first.teacher.first_name%></a></p>
                    <p class="user-card-row-status"><a href="#" tabindex="0"><%=@document.ratings.first.teacher.email%></a></p>
                  </div>

                </div>
              </div>
            </header>

            <div class="text-block text-block-typical">
              "<%= @document.ratings.first.comment%>"
            </div>

          </article>
        </section>

      </div>
    </div>
  </div>
</div>
<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
