<div class="page-content">
  <%= form_for @teacher do |f| %>
  <div class="card">
    <header class="card-header">
      <!-- TODO: Upload image y arreglar tags-->
      <h3>Edita tu perfil</h3>
    </header>
    <div class="card-block">

      <div class="row">
        <div class="col-sm-6" style="text-align: center;">

          <div class="card">
            <header class="card-header">Imagen</header>
            <div class="card-block"><%= image_tag(@teacher.profile_picture) %></div>
            <footer class="card-footer"><%=f.file_field :profile_picture, placeholder: "Sube tu foto"%></footer>
          </div>

          <div class="card">
            <header class="card-header">Nombre</header>
            <div class="card-block">
              <%=f.text_field :first_name, class: "form-control", placeholder: "Ingresa tu nombre"%>
            </div>
          </div>

          <div class="card">
            <header class="card-header">Apellidos</header>
            <div class="card-block">
              <%=f.text_field :last_name, class: "form-control", placeholder: "Ingresa tus apellidos"%>
            </div>
          </div>

        </div>

        <div class="col-sm-6">

          <div class="card">
            <header class="card-header">Suscripción a cursos</header>
            <div class="card-block">
              <div id="subscribed-levels", style="margin-bottom: 15px;">
                <% current_teacher.levels.order(id: :asc).each do |level| %>
                <div class="tag"><%= level.name %><span class="delete-level", style="color: red;", value="<%= level.id %>"> x</span></div>
                <% end %>
              </div>
              <div class="form-group">
                <select id="level-select" class="form-control" value="-1">
                    <option value="placeholder">Elija el curso</option>
                  <% Level.all.each do |level| %>
                  <option value="<%=level.name%>"><%= level.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>

          <div class="card">
            <header class="card-header">Suscripción a materias</header>
            <div class="card-block">
              <div id="subscribed-subjects", style="margin-bottom: 15px;">
                <% current_teacher.subjects.order(id: :asc).each do |subject| %>
                <div class="tag"><%= subject.name %><span class="delete-subject", style="color: red;", value="<%= subject.id %>"> x</span></div>
                <% end %>
              </div>
              <div class="form-group">
                <select id="subject-select" class="form-control" value="-1">
                    <option value="placeholder">Elija la materia</option>
                  <% Subject.all.each do |subject| %>
                  <option value="<%=subject.name%>"><%= subject.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>

          <div class="card">
            <header class="card-header">Email</header>
            <div class="card-block">
              <%=f.text_field :email, class: "form-control", placeholder: "Introduce tu email"%>
            </div>
          </div>

          <div class="card">
            <header class="card-header">Contraseña</header>
            <div class="card-block">
              <p><%=f.password_field :password, class: "form-control", placeholder: "Introduce tu contraseña"%></p>
              <p><%=f.password_field :password_confirmation, class: "form-control", placeholder: "Repite tu contraseña"%></p>
            </div>
          </div>

        </div>

      </div>
    </div>
    <footer class="card-footer"><%= f.submit "Guardar cambios", class: "btn btn-rounded", id: "send-button", style: "margin: 0 45%;"%></footer>
  </div>
  <% end %>
</div>
